@import "../../index.scss";

.task {
   @include flex($align: center);
   margin-top: 15px;
   width: 100%;

   p {
      margin-left: 18px;
      font-size: 1rem;
      color: black;
      opacity: 0.7;
      width: fit-content;
      max-width: calc(100% - 16rem);
      overflow-wrap: break-word;

      cursor: default;

      &:hover {
         opacity: 0.9;
      }

      &:active {
         opacity: 1;
      }
   }

   span {
      display: inline;
      margin-left: 18px;
      background: $pink;
      border-radius: 4px;
      padding: 5px 20px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
   }

   svg {
      display: flex;
      width: 30px;
      color: $font-color;
      opacity: 0.7;
      cursor: pointer;

      &:hover {
         color: $pink;
         opacity: 1;
      }

      &:active {
         lighting-color: $pink;
      }
   }

   svg.pencil {
      margin-left: auto;
   }
}
