@import "../../index.scss";

.button {
  background: $pink;
  border-radius: 4px;
  padding: 5px;
  color: white;

  &:hover {
    background-color: lighten($pink, 10%);
  }

  &:active {
    background-color: saturate($pink, 20%);
  }
}

.loader {
  border: 6px solid #dfdede;
  border-top: 6px solid $pink;
  background-color: $grey;
  border-radius: 50%;
  width: 25px !important;
  height: 25px !important;
  font-size: 0;
  animation: spin 2s linear infinite;
  margin-right: 13px;
  cursor: default;

  &:hover {
    background-color: #dfdede;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
