@import "../../index.scss";

.categories {
   .list {
      @include flex($justify: space-between, $align: flex-end);
      margin-left: 3px;
      font-size: 22px;
      line-height: 26px;
      color: $font-color;
      margin-bottom: 20px;
      text-decoration: none;
   }

   span {
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   svg {
      color: black;
      opacity: 0.2;

      &:hover {
         opacity: 0.6;
      }

      &:active {
         opacity: 0.8;
      }
   }

   .active {
      font-weight: 700;
      color: $pink;
   }
}
