.categories {
   &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-left: 3px;
      font-size: 22px;
      line-height: 26px;
      color: #525252;
      margin-bottom: 20px;
      &:hover {
         .delete-item {
            opacity: 0.4;
         }
      }

      &:active {
         .delete-item {
            opacity: 0.9;
         }
      }
   }

   &__title {
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}

.chosen {
   font-weight: 700;
   color: #ea5959;
}

.delete-item {
   color: black;
   opacity: 0.1;
}
