@import "../../index.scss";

.categories {
   li {
      @include flex($justify: space-between, $align: flex-end);
      margin-left: 3px;
      font-size: 22px;
      line-height: 26px;
      color: $font-color;
      margin-bottom: 20px;

      :hover {
         .delete-item {
            opacity: 0.4;
         }
      }

      :active {
         .delete-item {
            opacity: 0.9;
         }
      }
   }

   span {
      width: 160px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .delete-item {
      color: black;
      opacity: 0.1;
   }

   .chosen {
      font-weight: 700;
      color: $pink;
   }
}
