@import "../../index.scss";

.tasks {
   @include flex($direction: column);
   width: 100%;
   flex: 1;
   padding: 2.8rem 2rem 2rem 2.5rem;

   h1 {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 37px;
      color: #1b1c1f;
      margin-bottom: 20px;
   }

   input[type="text"] {
      width: 100%;
   }

   hr {
      background-color: #d8d8d8;
      margin: 20px 0 20px;
   }

   ul {
      overflow: auto;
   }

   button {
      align-self: flex-end;
      margin: 10px 0 20px;
      width: 140px;
   }
}

@media screen and (max-width: 803px) {
   .tasks {
      padding: 1.5rem 2rem;

      hr {
         display: none;
      }
   }
}
