@import "../../index.scss";

.tasks {
   position: relative;
   @include flex($direction: column);
   width: calc(100% - 12.7rem);
   padding: 49px 2rem 2rem 2.5rem;

   h1 {
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #1b1c1f;
      margin-bottom: 20px;
   }

   hr {
      background-color: #d8d8d8;
      margin: 20px 0 20px;
   }

   ul {
      overflow: auto;
   }

   button {
      position: absolute;
      top: 103px;
      right: 42px;
      margin: 10px 0 20px;
      width: 140px;
   }
}

@media screen and (max-width: 803px) {
   .tasks {
      width: 100%;
      padding: 1.5rem 2rem 2rem;

      input {
         margin-bottom: 10px;
      }

      button {
         top: 77px;
         right: 38px;
      }

      hr {
         display: none;
      }
   }
}
