@import "../../index.scss";

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0;
  width: 30px !important;
  height: 20px;

  input[type="checkbox"] {
    display: none;
  }

  .line-top,
  .line-middle,
  .line-bottom {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #1b1c1f;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .line-middle::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    pointer-events: none;
    background-color: #1b1c1f;
    transition: all 0.3s ease;
  }

  #burger:checked ~ .line-top,
  #burger:checked ~ .line-bottom {
    transform: scale(0);
  }

  #burger:checked ~ .line-middle {
    transform: rotate(45deg);
  }
  #burger:checked ~ .line-middle:before {
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 803px) {
  .burger {
    display: flex;
    width: 25px;
  }
}
