@import "../../index.scss";

.checkbox {
  :hover {
    background-color: darken($grey, 7%);
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

    &:checked ~ label {
      background-color: $pink;
    }
  }

  label {
    @include flex-center;
    border: 1px solid #ea5959;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    cursor: pointer;

    svg {
      margin-left: 2px;
      width: 15px;
      height: 15px;
      pointer-events: none;
    }
  }
}
