@import "../../scss/index.scss";

.error {
  @include flex-center;
  flex-direction: column;
  width: 480px;
  height: 288px;
  margin: 150px auto;

  h2 {
    font-weight: 700;
    font-size: 96px;
    color: $pink;
  }
  h3 {
    font-size: 32px;
    color: $font-color;
    margin-bottom: 15px;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: $font-color;
  }
}
