@import "../../index.scss";

.error {
   @include flex-center;
   flex-direction: column;
   width: 480px;
   height: 288px;
   margin: 150px auto;

   &__number {
      font-weight: 700;
      font-size: 96px;
      color: $pink;
   }
   &__title {
      font-size: 32px;
      color: $font-color;
      margin-bottom: 15px;
   }
   &__discriptoin {
      font-size: 20px;
      text-align: center;
      color: $font-color;
   }
}
