@import "scss-reset/_reset.scss";

$pink: #ea5959;
$white: #ffffff;
$grey: #f3f3f3;
$font-color: #525252;

@mixin flex($direction: row, $align: initial, $justify: initial) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container($width, $max-width: 980px) {
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
}

$maxWidth: 1440;
$minWidth: 380;
html {
  font-size: calc(14px + 5 * ((100vw - 380px) / #{$maxWidth - $minWidth}));
}

@media screen and (min-width: 1289px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $pink;
}

.app {
  @include container(80%);
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: $white;
  height: 700px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

@media screen and (max-width: 900px) {
  .app {
    @include container(90%);
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 803px) {
  .app {
    flex-direction: column;
    height: auto;
  }
}
